<a href="{{ vich_uploader_asset(document, 'file') }}" target="_blank" class="document_name">
    {{ document }}
</a>
<div class="document_action d-flex align-items-center justify-content-end">
    <a href="#" class="badge badge-primary document_action_edit">
        <i class="fa fa-edit"></i>
    </a>
    <a href="#" class="badge badge-danger document_action_remove">
        <i class="fa fa-trash-alt"></i>
    </a>
</div>
