{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ include('dashboard/documents/document_type/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function () {
            let $body = $('body');

            $body.on('click', '.js-add-type-to-entity', function () {
                let prototype = $(this).attr('data-prototype'),
                    newForm   = prototype.replace(/__name__/g, (new Date()).getTime());

                $('.js-type-to-entities-block').append(newForm);
            });

            $body.on('click', '.js-delete-type-to-entity', function () {
                $(this).closest('.js-type-to-entity-row').remove();
            });
        });

    </script>
{% endblock javascripts_page %}
