{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ include('dashboard/bank/bank/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
