<div class="card-body card-body--project-document">
    {{ form_start(form, { 'method': 'post', 'action': path('dashboard_document_modal_edit_document', { 'id' : app.request.get('id') }) }) }}
        {{ form_widget(form) }}
        <div class="d-flex d-row-space form-buttons">
            <button type="submit" class="btn btn-lg btn-pink js-edit-document">
                {{ 'form.validate' | trans }}
            </button>
        </div>
    {{ form_end(form) }}
</div>
